@use 'vuetify/settings' with (
  $color-pack: false,
);

:root {
  color-scheme: light;
}

html,
body,
#app {
  min-height: 100%;
  margin: 0;
}

body {
  background: #f5f7fb;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

.v-application {
  background: #f5f7fb;
}
